.smallImage {
  min-height: 200px;
  height: 27vh;
}

.largeImage {
  min-height: 200px;
}

/* Tablet Size */
@media (max-width: 992px) {
  .smallImage {
    height: 25vh;
  }
}

/* Phone Size */
@media (max-width: 768px) {
  .largeImage {
    height: 25vh;
    padding: 0;
    margin-bottom: 10px;
  }

  .smallImage {
    height: 25vh;
  }
}
