.container {
  min-height: 100px;
  border: 1px solid #175873;
  box-sizing: border-box;
  border-radius: 5px;

  .image {
    width: 45%;
  }

  .text {
    width: 55%;

    .summary {
      line-height: 1.5rem;
    }
  }
}
