.logo {
  font-family: Roboto;
  font-weight: bolder !important;
  color: #175873;
}

.socialMedia {
  .link {
    cursor: pointer;

    &:not(:last-child):after {
      content: '·';
      padding: 0 15px 0 15px;
    }
  }
}
