.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #175873;
}

.socialMedia {
  .link {
    cursor: pointer;

    &:not(:last-child):after {
      content: '·';
      padding: 0 15px 0 15px;
    }
  }
}
