html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu;
  height: 100%;
}

p {
  line-height: 2rem;
}

a {
  color: #093f48;
}

a:hover {
  color: #093f48;
}

/* Bootstrap Overrides */
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Nunito', sans-serif;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #e29578;
  border-color: #e29578;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #093f48;
  border-color: #093f48;
}

.btn-outline-info {
  color: #093f48;
  border-color: #093f48;
}

a.page-link {
  color: #000;
}

/* Colors */
.heading-color {
  color: #093f48;
}

.highlight-color {
  color: #e29578;
}

/* Custom CSS */

.coming-soon {
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.cursor-pointer {
  cursor: pointer;
}

.round-image {
  border-radius: 50%;
}
