@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Nunito", sans-serif;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #e29578;
  border-color: #e29578;
}

a.page-link {
  color: #000;
}
